{% extends 'base.html.twig' %}

{% block title %}
    Liste des Utilisateur
{% endblock %}

{% block content %}
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Rôles</th>
                <th>Pseudo</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Téléphone</th>
                <th>Date d'inscription</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.roles ? utilisateur.roles|json_encode : '' }}</td>
                <td>{{ utilisateur.pseudo }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.telephone }}</td>
                <td>{{ utilisateur.inscription ? utilisateur.inscription|date('d-m-Y') : '' }}</td>
                <td>
                    <a  class="btn btn-primary" href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}">Afficher</a>
                    <a class="btn btn-success" href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('utilisateur_new') }}">Créer un utilisateur</a>
{% endblock %}
